html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: black;
}

li a{
    color: #00FFFF !important;
    text-decoration: none !important;
}

.jumbotron{
    background-color: black;
}

#self-Portrait{
    width: 345px;
    height: 400px;
    margin-top: 50px;
}

.white-text{
    color: white;
    font-weight: lighter;
}

.cyan-text{
    color: #00FFFF;
    font-weight: lighter;
}

.monke{
    color: rgb(75, 75, 75);
}

.main{
    background-color: black;
}

.about-me{
    margin-top: 50px !important;
}

#about-title{
    color: white;
    font-weight: lighter;
    font-size: 105%;
}

.about-cyan-text{
    color: #00FFFF;
    font-weight: lighter;
    font-size: 110%;
}

#resume{
    margin-top: 200px !important;
}

#resume-link{
    margin-top: 45px;
    
}

#resume-link a{
    color: #00FFFF;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#contact{
    margin-top: 200px !important;
}

#contact-links{
    margin-top: 50px;
    word-spacing: 30px;
}

#contact-links a{
    color: #00FFFF;
    text-decoration: none;
    /* text-underline-offset: 7px;
    text-decoration-thickness: 3px; */
    font-style: italic;
}

#contact-links a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
}

#footer{
    margin-top: 200px;
}

#footer-p{
    font-size: 70%;
    color: rgb(50, 50, 50);
}

#footer-p a{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    font-style: italic;
    color: rgb(50, 50, 50);
}