html{
    scroll-behavior: smooth;
    background-color: rgb(25, 25, 25);;
}

.navbar{
    background-color: rgb(25, 25, 25);
    padding-top: 15px;
}

li a{
    color: #00FFFF !important;
    text-decoration: none !important;
    font-size: 85% !important;
    font-weight: lighter;
}

li a:hover{
    color: #00FFFF !important;
    text-decoration: underline !important;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;

}

.jumbotron{
    background-color: rgb(25, 25, 25);
}

#self-Portrait{
    width: 250px;
    height: 400px;
    margin-top: 40px;
}

h1{
    font-size: 125%;
}

.white-text{
    color: white;
    font-weight: lighter;
}

.cyan-text{
    color: #00FFFF;
    font-weight: lighter;
}

.monke{
    color: rgb(125, 125, 125);
    font-size: 75%;
    margin-left: 40px;
    margin-right: 40px;
}

.main{
    background-color: black;
}

.about-me{
    margin-top: 60px !important;
}

#about-title{
    color: white;
    font-weight: lighter;
    font-size: 95%;
}

.about-cyan-text{
    color: #00FFFF;
    font-weight: lighter;
    font-size: 110%;
}

#resume{
    margin-top: 200px !important;
}

#resume-link{
    margin-top: 75px;
    
}

#resume-link a{
    color: #00FFFF;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#resume-link a:hover{
    color: #00FF66;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#contact{
    margin-top: 200px !important;
}

#contact-links{
    margin-top: 50px;
    word-spacing: 30px;
}

#contact-links a{
    color: #00FFFF;
    text-decoration: none;
    /* text-underline-offset: 7px;
    text-decoration-thickness: 3px; */
    font-style: italic;
}

#contact-links a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
}

#footer{
    margin-top: 275px;
}

#footer-p{
    font-size: 70%;
    color: rgb(75, 75, 75);
}

#footer-p a{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    /* font-style: italic; */
    color: rgb(75, 75, 75);
}

#footer-p a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    /* font-style: italic; */
    color: rgb(100, 100, 100);
}


/* About-this-page.html styles */
#about-page{
    margin-top: 150px;
}

#about-page-h{
    margin-bottom: 50px;
}

.tech-h{
    color: white;
    font-size: 110%;
    font-weight: lighter;
}

.tech-p{
    color: #00FFFF;
    font-weight: lighter;
}

#about-page-footer{
    margin-top: 100px;
}
