html{
    scroll-behavior: smooth;
    background-color: rgb(50, 50, 50);
}

.navbar{
    background-color: rgb(50, 50, 50);
    padding-top: 15px;
}

li a{
    color: #00FFFF !important;
    text-decoration: none !important;
    font-size: 85% !important;
    font-weight: lighter;
}

li a:hover{
    color: #00FFFF !important;
    text-decoration: underline !important;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;

}

.jumbotron{
    background-color: rgb(50, 50, 50);
}

/* IMAGES / MEDIA SECTION BELOW*/
#self-Portrait{
    width: 250px;
    height: 400px;
    margin-top: 40px;
}

#profile{
    height: 215px;
    width: 275px;
}

#calling{
    height: 240px;
    width: 265px;
}
/* IMAGES / MEDIA SECTION ABOVE*/

h1{
    font-size: 125%;
}

.white-text{
    color: white;
    font-weight: lighter;
}

.cyan-text{
    color: #00FFFF;
    font-weight: lighter;
}

.monke{
    color: rgb(150, 150, 150);
    font-size: 75%;
    margin-left: 40px;
    margin-right: 40px;
}

.monke-md{
    color: rgb(150, 150, 150);
    font-size: 75%;
    margin-top: 10px;
}

.about-me{
    margin-top: 60px !important;
}

#about-me-md{
    margin-top: -60px !important;
}

#about-title{
    color: white;
    font-weight: lighter;
    font-size: 95%;
}

#about-title-lg{
    color: white;
    font-weight: lighter;
    font-size: 95%;
    padding-top: 340px;
}

.about-cyan-text{
    color: #00FFFF;
    font-weight: lighter;
    font-size: 110%;
}

#resume{
    margin-top: 200px !important;
}

/* FOR SM SCREEN AND BELOW */
#resume-link{
    margin-top: 75px;
    
}

#resume-link a{
    color: #00FFFF;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#resume-link a:hover{
    color: #00FF66;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#project-link{
    margin-top: 50px;
    
}

#project-link a{
    color: #00FFFF;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#project-link a:hover{
    color: #00FF66;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}
/*            ^            */
/*            |            */
/* FOR SM SCREEN AND BELOW */

/* FOR MD SCREEN AND ABOVE */

#resume-link-md{
    margin-top: 75px;
    
}

#resume-link-md a{
    color: #00ffaa;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#resume-link-md a:hover{
    color: #00FF66;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#project-link-md{
    margin-top: 50px;
    
}

#project-link-md a{
    color: #00ffaa;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}

#project-link-md a:hover{
    color: #00FF66;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    font-style: italic;
}
/*            ^            */
/*            |            */
/* FOR MD SCREEN AND ABOVE */

/* FOR SM SCREEN AND BELOW */
#contact{
    margin-top: 200px !important;
}

#contact-links{
    margin-top: 50px;
    word-spacing: 30px;
}

#contact-links a{
    color: #00FFFF;
    text-decoration: none;
    font-style: italic;
}

#contact-links a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
}
/*            ^            */
/*            |            */
/* FOR SM SCREEN AND BELOW */

/* FOR MD SCREEN AND ABOVE */
#contact-links-md{
    margin-top: 60px !important;
}

#contact-links-md a{
    color: #00FFFF;
    text-decoration: none;
    font-style: italic;
}

#contact-links-md a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
}
/*            ^            */
/*            |            */
/* FOR MD SCREEN AND ABOVE */

#footer{
    margin-top: 275px;
}

#footer-p{
    font-size: 70%;
    color: rgb(150, 150, 150);
}

#footer-p a{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    /* font-style: italic; */
    color: rgb(150, 150, 150);
}

#footer-p a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    /* font-style: italic; */
    color: rgb(200, 200, 200);
}


/* About-this-page.html styles */
#about-page{
    margin-top: 150px;
}

#about-page-h{
    margin-bottom: 50px;
}

.tech-h{
    color: white;
    font-size: 110%;
    font-weight: lighter;
}

.tech-p{
    color: #00FFFF;
    font-weight: lighter;
}

#about-page-footer{
    margin-top: 100px;
}
